/* Global */
html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  color: white;
}

.container {
  margin: 0%;
  padding: 0%;
  max-width: 100%;
}

/* Jumbotron */

.jumbotron {
  height: 100vh;
  text-align: center;
  margin: 0%;
  background-color: #F4E3B1;
  /*
  background-image: url(images/dusk-evening-golden-hour-1097518.jpg);
  background-position: center;
  background-size: cover;
  */
}

.container .logo {
  width: 40%;
  height: 40%;
  margin: auto;
  vertical-align: middle;
}

@media (max-width: 768px){
  .container .logo {
    width: 75%;
    height: 75%;
  }
}

@media (max-width: 576px){
  .container .logo {
    width: 100%;
    height: 100%;
  }
}

#square {
  position: absolute;
  right: 5%;
  bottom: 0vh;
  z-index: 1;
  background-color: #A53A3B;
  width: 7rem;
  height: 5rem;
  line-height: 4rem;
  float: right;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@keyframes example {
  0% {transform: translateY(0px);}
  50% {transform: translateY(5px);}
  100% {transform: translateY(0px);}
}

#square img {
  vertical-align: middle;
  width: 70%;
  height: 70%;
  margin-top: 15%;
  color: red;
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  #square {
    width: 100%;
    border-radius: 0px;
    right: 0%;
  }
  
  #square img {
    vertical-align: middle;
    margin-top: 0%;
    
  }
}

/* Navbar */

#hamburger {
  height: 50px;
}

#navbar-container {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  float: right;
  right: 5%;
  width: 7rem;
}

.navbar {
  background-color: #A53A3B;
  border-radius: 5px;
  width: inherit;
  padding: 0rem;
}

.navbar-nav {
  display: block;
}

#navbarNav {
  width: 7rem;
}

#navbarNav ul {
  width: inherit;
  height: 25rem;
}

#navbarNav li {
  text-align: center;
  line-height: 4rem;
  width: inherit;
  height: 5rem;
}

a {
  color: white/*#F4E3B1*/;
  height: inherit;
  vertical-align: middle;
}

.active{
  background-color: white/*#5398D9*/;
  color: #A53A3B;
  border-radius: 0px;
}

@media(max-width: 768px) {  
  #navbar-container {
    width: 100%;
    top: 0px;
  }
  
  .navbar {
    border-radius: 0px;
  }
  
  #navbarNav ul {
    width: auto;
  }
}

/* Profile */

.subheading {
  text-align: center;
  color: white;
}

/* Abilities */

#abilities-container h3 {
  color: white;
  text-align: center;
  margin: 3rem 0rem 1rem 0rem;
}

#abilities-container li {
  list-style-type: none;
  color: white;
  margin: .5rem 0rem;
}

#abilities-container {
  margin: 1rem 20%;
}

.ability-rating {
  float: right;
  height: 1rem;
  transition: transform 0.1s ease-in-out;
  transform-origin: right;
}

#abilities-container li:hover > .ability-rating {
  transform: scale(1.1);
}

#abilities-container li:hover {
  background-color: #A53A3B;
}

/*Projects*/

#Projects {
  background-color: #4292f4;
  min-height: 100vh;
}

.card {
  margin: 1rem;;
  border-radius: 0px;
  width: 18rem;
}

.card-left {
  float: right;
}

.card-right {
  float: left;
}

.btn {
  border-radius: 0px;
}

@media (max-width: 768px) {
  .card-right {
    float: none;
    margin: auto;
  }
  
  .card-right {
    float: none;
    margin: auto;
  }
  
  .card-left {
    float: none;
    margin: auto;
  }
  
  .card-left {
    float: none;
    margin: 1rem auto;
  }
}