.button {
    border-radius: 0px !important;
    color: white !important;
    background-color: #14325C;
    border-color: white;
}

.button:hover {
    border-color: #14325C !important;
    color: #14325C !important;
    background-color: white;
}

#three input, textarea {
    border-radius: 0px;
    border-color: #14325C !important;
    background-color: white;
}

#three .button {
    border-color: white !important;
    background-color: #14325C;
    color: white !important;
}

#three .button:hover {
    border-color: #14325C !important;
    color: #14325C !important;
    background-color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    transition-duration: 0.5s;
    height: 50px;
}

.overlay h3, .overlay p{
    text-align: left;
    margin: 12px 10px;
}

.overlay h3 {
    font-size: 20px;
    color: white;
}

.overlay p {
    color: white;
}

.thumb:hover > .overlay {
    height: 100%;
}

#three a:hover {
    color: #14325C !important;
}

.hidden{
    display: none;
}

#two #project1 {
    background-image: url('../../images/website_screenshot.png');
    height: 210px;
}

#two #project3 {
    background-image: url('../../images/website_screenshot.png');
    height: 210px;
}

#two #project4 {
    background-image: url('../../images/website_screenshot.png');
    height: 210px;
}

#header h1 {
    z-index: 5;
    position: absolute;
    right: 60px;
    top: 355px;
}

#header_bg {
    background-color: black;
    height: 100px;
    width: 325px;
    position: absolute;
    right: 0;
    top: 400;
    z-index: 3;
    opacity: 0.7;
}

#one h4 {
    float: right;
}

#one p{
    margin-left: 10px;
}

#footer_bg {
    position: absolute;
    width: 270px;
    height: 100px;
    background-color: black;
    opacity: 0.7;
    right: 0;
    top: 520px;
}

/* Skills */
.fa-star, .fa-star-o {
    width: 10px;
    margin: 0px 0px;
    padding: 0px 7px;
    color: #14325C;
}

.rating {
    float: right;
    transition-duration: 0.2s
}

.rating i {
    transition-duration: 0.2s;
}

.skill {
    width: 50%;
    height: 25px;
    padding-right: 0px;
    padding-left: 5px;
    margin: 0px 0px;
}

.rating {
  padding-right: 20px;
}

.skill:hover > .rating {
    cursor: pointer;
    font-size: 15px;
    transform-style: flat;
}

.skill:hover > .rating > i {
    margin-left: 3px;
}

.skill:hover {
    background-color: #EEE;
}

.skill p {
    float: left;
    margin-left: 0px;
}

#skills_container {
    margin-left: 0px;
    padding: 0px;
}

#skills_container .row {
    width: inherit;
    padding: 0px;
    margin: 0px;
}

#skills_section h3 {
    margin-top: 30px;
}